.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.loading {
	padding: 2rem;
}

.main {
	padding: 2rem;
}

.header {
	display: flex;
	gap: 1rem;
	margin-bottom: 1rem;
}

.dot {
	width: 16px;
	height: 16px;
	border-radius: 50%;
}

.info {
	color: #888;
}
